doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="http://code.jquery.com/jquery-1.9.0.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")